@page
@model IBanKing.Pages.Client.MakePaymentModel
@{
    ViewData["Title"] = "Make a Payment";
    Layout = "_LayoutClient";
}

<h2 class="mb-4">Make a payment</h2>

<div class="row">
    <div class="col-md-6">
        @foreach (var service in Model.Services)
        {
            <form method="post" asp-page-handler="PayService">
                <input type="hidden" name="serviceIBAN" value="@service.IBAN" />
                <button type="submit" class="btn btn-secondary mb-2 w-100">
                    Pay for @service.Bill_Name
                </button>
            </form>
        }
    </div>
    <div class="col-md-6 text-center">
        <form method="post" asp-page-handler="Transfer">
            <button type="submit" class="btn btn-primary w-75">
                Make a transfer
            </button>
        </form>
    </div>
</div>
