@page
@model IBanKing.Pages.Client.MakePaymentModel
@{
    ViewData["Title"] = "Make a Payment";
    Layout = "_LayoutClient";
}
<link rel="stylesheet" href="~/css/MakePayment.css" asp-append-version="true" />
<h2 class="mb-4">Make a payment</h2>

 
<div class="row">
    <div class="col-md-6">
        <h4 class="mb-3">Pay a Service</h4>
        @if (Model.Services != null && Model.Services.Any())
        {
            @foreach (var service in Model.Services)
            {
                <form method="get" asp-page="/Client/PayService">
                    <input type="hidden" name="serviceIBAN" value="@service.IBAN" />
                    <button type="submit" class="btn btn-secondary mb-2 w-100">
                        Pay for @service.Bill_Name
                    </button>
                </form>
            }
        }
        else
        {
            <p>No services available at this time.</p>
        }
    </div>

    <div class="col-md-6 text-center">
        <h4 class="mb-3">Transfer Between Accounts</h4>
        <form method="post" asp-page-handler="Transfer">
            <button type="submit" class="btn btn-primary w-75">
                Make a Transfer
            </button>
        </form>
    </div>
</div>