@page
@{
    ViewData["Title"] = "Terms and Conditions";
    Layout = "_LayoutClient";
}

<h1 class="text-center">Terms and Conditions</h1>
<p class="text-center">
    By using IBanKing services, you agree to the following terms and conditions.
    Make sure to read this section carefully. IBanKing reserves the right to update the terms at any time.
</p>
